:root {
  --background-color: #F6F8FA;
  --text-color: #000;
  --border-color: #d0d7de;
  --white-color: #ffffff;
  --light-shade-color: #9d62f3;
  --dark-shade-color: #644ad1;
}

@media only screen and (width < 400px) {

  section {
    margin: 5rem 1rem 1rem 1rem;
  }

  .user-info {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (width < 620px) {
  .card-section {
    flex-direction: column;
  }

  .user-cells-container {
    width: 100%;
  }

  .user-cell {
    width: 100%;
  }

  .user-cell-titles {
    width: 50%;
    margin: auto;
    text-align: center;
  }
}